@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img
    id="foto"
    src="~/imagenes/foto.png" alt="Foto de Luis" />

    <h1 class="display-4">Luis Carmagnoli</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y JavaScript</h2>

</div>
